Level2/workflow_1.json
{
  "name": "workflow 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        20
      ],
      "id": "4991e235-dbee-4727-926b-7c0cda5fdd44",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4RPBrgXOvy9ZnZ",
          "mode": "list",
          "cachedResultName": "Level2_data",
          "cachedResultUrl": "https://airtable.com/app4RPBrgXOvy9ZnZ"
        },
        "table": {
          "__rl": true,
          "value": "tblIyYjUU0N4XgM5o",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/app4RPBrgXOvy9ZnZ/tblIyYjUU0N4XgM5o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -180,
        -100
      ],
      "id": "b501301e-9d86-40d3-8645-d8b995718278",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ALnUVymUUJC72NXr",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        80
      ],
      "id": "11e04f78-cea4-4137-8a6b-7244b58b2036",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        40,
        0
      ],
      "id": "b2c43baf-9c9e-43b2-a377-a75e7a2c25fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4RPBrgXOvy9ZnZ",
          "mode": "list",
          "cachedResultName": "Level2_data",
          "cachedResultUrl": "https://airtable.com/app4RPBrgXOvy9ZnZ"
        },
        "table": {
          "__rl": true,
          "value": "tblIyYjUU0N4XgM5o",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/app4RPBrgXOvy9ZnZ/tblIyYjUU0N4XgM5o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        260,
        0
      ],
      "id": "fa026c72-a06b-463f-a1d7-23ba0c1ed2be",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "ALnUVymUUJC72NXr",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d39fab31-1032-4bbf-a95b-856cf42f8953",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "UHGyoNs9NM1cAaNq",
  "tags": []
}